doctype html
html
    head
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onLoad=init")
        script(src="/js/gott.js")
        link(href="/css/gott.css", rel='stylesheet', type='text/css')
    body
        div#map
